<ActionBar title="Bristol Sense" class="action-bar"></ActionBar>
<ScrollView>
    <StackLayout class="page" orientation="vertical">
        <Button class="back" text="Back" (tap)="back()"></Button>
        <Label text="About us" class="title"></Label>

        <Image src="res://uwe" width="75%" horizontalAlignment="center"></Image>
        <Label text="This application have been developed in partnership with UWE."></Label>
        <Label text="Authors :"></Label>
        <Label text="Benedict Gaster "></Label>
        <Label text="William Randall "></Label>
        <Label text="Moinlil Islam Khan "></Label>

    </StackLayout>
</ScrollView>
