# Main project
.idea/

# Peripheral
peripheral/build/

# Peripheral test
peripheral_test/build/
peripheral_test/node_modules/
peripheral_test/package-lock.json

# Phone app
phone_app/app/*.js
phone_app/app/*/*.js
phone_app/node_modules/
phone_app/package-lock.json
phone_app/platforms/*
!phone_app/platforms/
phone_app/platforms/android/*
!phone_app/platforms/android/
!phone_app/platforms/android/google-services.json
phone_app/platforms/android/src/*
!phone_app/platforms/android/src/
phone_app/platforms/android/src/main/*
!phone_app/platforms/android/src/main/
phone_app/platforms/android/src/main/res/*
!phone_app/platforms/android/src/main/res/
phone_app/platforms/android/src/main/res/values/*
!phone_app/platforms/android/src/main/res/values/
!/phone_app/platforms/android/src/main/res/values/strings.xml
