# Main project
.idea/

# Peripheral test
peripheral_test/build/
peripheral_test/node_modules/
peripheral_test/package-lock.json

# Phone app
phone_app/app/*.js
phone_app/app/*/*.js
phone_app/node_modules/
phone_app/platforms/
phone_app/package-lock.json
