<StackLayout class="page" orientation="vertical">
    <Image src="res://logo" stretch="none" horizontalAlignment="center"></Image>
    <Label text=" Tap 'scan' to see the list of scanned devices  "></Label>
    <Button text="Scan" (tap)="scan($event)" ng-init="count=0"></Button>
    <Label text=""></Label>

    <Label text="Connected Devices"></Label>
    <ListView [items]="_knownPeripherals" (itemTap)="connect($event)" class="list-group">
        <ng-template let-item="item">
            <Label [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView>

    <Label text="Disconnected Devices"></Label>
    <ListView [items]="_discoveredPeripherals" (itemTap)="connect($event)" class="list-group">
        <ng-template let-item="item">
            <Label [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView>
</StackLayout>
