<ActionBar title="Bristol Sense" class="action-bar"></ActionBar>
<ScrollView>
    <StackLayout class="page" orientation="vertical">
        <Label text="Configure {{ _peripheral.name }}" class="title"></Label>
        <Label text="Resample rate (hh:mm:ss)" class="subtitle"></Label>
        <StackLayout class="page" orientation="horizontal" horizontalAlignment="center">
            <ListPicker class="timepicker" [items]="_zeroToTwentyFour" [selectedIndex]="index"></ListPicker>
            <ListPicker class="timepicker" [items]="_zeroToSixty" [selectedIndex]="index"></ListPicker>
            <ListPicker class="timepicker" [items]="_zeroToSixty" [selectedIndex]="index"></ListPicker>
        </StackLayout>
        <Button text="Update" (tap)="update($event)"></Button>
        <Button class="special" text="Unregister" (tap)="unregister($event)"></Button>
    </StackLayout>
</ScrollView>